.lead{
    display: flex;
    max-width: 984px;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 1135px){
    .lead{
        max-width: 928px;
    }
}
@media screen and (max-width: 984px){
    .lead{
        max-width: 768px;
        width: 100vw;
    }
}
@media screen and (max-width: 568px){
    .lead{
        max-width: 320px;
    }
}
