.footer__copyright{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
    text-align: right;
    min-width: 140px;
}
@media screen and (max-width: 680px){
    .footer__copyright{
        line-height: 14px;
        text-align: left;
        margin-top: 48px;
    }
}
