.lead__image{
    max-width: 984px;
    min-height: 615px;
    margin: 64px auto 0;
    width: 100%;
}
@media screen and (max-width: 1124px){
    .lead__image{
        max-width: 928px;
        min-height: 580px;
        margin: 56px auto 0;
    }
}
@media screen and (max-width: 984px){
    .lead__image{
        max-width: 768px;
        min-height: 480px;
        margin: 56px 0 0;
    }
}
@media screen and (max-width: 568px){
    .lead__image{
        max-width: 320px;
        min-height: 200px;
        margin: 40px 0 0;
    }
}