.footer{
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 48px 24px;
}
@media screen and (max-width: 1124px){
    .footer{
        max-width: 928px;
    }
}
@media screen and (max-width: 984px){
    .footer{
        max-width: 720px;
        margin: 0 24px 24px;
    }
}
@media screen and (max-width: 680px){
    .footer{
        margin: 0 0 24px 16px;
        flex-direction: column;
    }
}
