.header__lang-links{
    min-width:77px;
    display: flex;
    flex-direction: row;
    align-items: end;
}
@media screen and (max-width: 568px){
    .header__lang-links{
        min-width:62px;
    }
}